services:
  server:
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    develop:
      watch:
        - action: rebuild
          path: .
  mongo:
    image: mongo:noble
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      #ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongoexpressuser
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongoexpresspass
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    
volumes:
  mongo_data:
  mongo_config: