services:
  server:
    build:
      context: .

    ports:
      - "3000:3000"
      
    volumes:
      - .:/app
      - /app/node_modules
    develop:
      watch:
        - action: rebuild
          path: .
   