services:
  server:
    build:
      context: .
      
    ports:
      - "3000:3000"
      
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    develop:
      watch:
        - action: rebuild
          path: .
