---
name: Lint

on: # yamllint disable-line rule:truthy
  push: 
  pull_request: 

permissions: 
  contents: read
  packages: read
  statuses: write

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          persist-credentials: false

      - name: Super-linter
        uses: super-linter/super-linter@v8.2.1 # x-release-please-version
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.SUPER_LINTER}}
          #VALIDATE_ALL_CODEBASE: false   # only lint changed files
         # DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: ".*node_modules/.*"