name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu:25.10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: canary-alpine

      - name: Install dependencies
        run: bun install